<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Enregistrer un etudiant</title>

  @vite(['resources/css/app.css', 'resources/js/app.js'])
</head>
<body class="h-full">
  @include('partials/navigation')
  <main class="container relative top-24">
    <div class="relative w-full">
      <form action="{{ route('student.store') }}" method="post" class="mx-auto w-4/6 md:w-3/5 px-2 font-medium font-sans">
        {{ csrfField() }}
        <div class="flex flex-col space-y-5">
          <div class="flex justify-between items-center">
            <label for="matricule">Matricule</label>
            <div class="flex gap-x-2">
              <input class="input" type="text" id="matricule" name="matricule"
              autocomplete="off"
              value="{{ old("matricule") || ''}}"
              required>
              <div title="le matricule doit être composé de 7 chiffres et commencer par 1 ou 2" class="self-center">
                <svg class="w-4 stroke-neutral-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-info"><circle cx="12" cy="12" r="10"/><path d="M12 16v-4"/><path d="M12 8h.01"/></svg>
              </div>
            </div>
          </div>
          <div class="flex justify-between items-center">
            <label for="last">Nom</label>
            <div class="flex gap-x-2">
              <input class="input" type="text" id="last" name="lastname"
              autocomplete="off"
              value="{{ old("lastname") || ''}}"
              required>
              <div title="Au moins deux lettres pour le nom" class="self-center">
                <svg class="w-4 stroke-neutral-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-info"><circle cx="12" cy="12" r="10"/><path d="M12 16v-4"/><path d="M12 8h.01"/></svg>
              </div>
            </div>
          </div>
          <div class="flex justify-between items-center">
            <label for="first">Prenom</label>
            <div class="flex gap-x-2">
              <input class="input" type="text" id="first" name="firstname"
              autocomplete="off"
              value="{{ old("firstname") || ''}}"
              required>
              <div title="Au moins deux lettres pour le prenom" class="self-center">
                <svg class="w-4 stroke-neutral-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-info"><circle cx="12" cy="12" r="10"/><path d="M12 16v-4"/><path d="M12 8h.01"/></svg>
              </div>
            </div>
          </div>
          <div class="flex justify-between items-center">
            <label for="email">Email</label>
            <div class="flex gap-x-2">
              <input class="input" type="text" id="email" name="email"
              autocomplete="off"
              value="{{ old("email") || ''}}"
              required>
              <div title="Entrer une adresse mail valide" class="self-center">
                <svg class="w-4 stroke-neutral-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-info"><circle cx="12" cy="12" r="10"/><path d="M12 16v-4"/><path d="M12 8h.01"/></svg>
              </div>
            </div>
          </div>
          <div class="flex justify-between items-center">
            <label for="contribution">Contribution</label>
            <div class="flex gap-x-2">
              <input class="input" type="number" id="contribution" name="contribution"
              autocomplete="off"
              value="{{ old("contribution") || ''}}"
              required>
              <div title="Au moins 10.000GNF de contribution" class="self-center">
                <svg class="w-4 stroke-neutral-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-info"><circle cx="12" cy="12" r="10"/><path d="M12 16v-4"/><path d="M12 8h.01"/></svg>
              </div>
            </div>
          </div>
          <div class="flex justify-center my-2">
            <input type="submit" value="Enregistrer" class="button">
          </div>
        </div>
      </form>
    </div>
    @if(flashMessages.has('inputErrorsBag.matricule'))
      @!component('components/toast', { type: 'error', message : flashMessages.get('inputErrorsBag.matricule') })
    @elseif(flashMessages.has('inputErrorsBag.lastname'))
      @!component('components/toast', { type: 'error', message : flashMessages.get('inputErrorsBag.lastname') })
    @elseif(flashMessages.has('inputErrorsBag.firstname'))
      @!component('components/toast', { type: 'error', message : flashMessages.get('inputErrorsBag.firstname') })
    @elseif(flashMessages.has('inputErrorsBag.email'))
      @!component('components/toast', { type: 'error', message : flashMessages.get('inputErrorsBag.email') })
    @elseif(flashMessages.has('inputErrorsBag.contribution'))
      @!component('components/toast', { type: 'error', message : flashMessages.get('inputErrorsBag.contribution') })
    @end
    @flashMessage('success')
      @!component('components/toast', { type: 'success', message: flashMessages.get('success') })
    @end
    @flashMessage('error')
      @!component('components/toast', { type: 'error', message: flashMessages.get('error') })
    @end
  </main>
</body>
</html>
