<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Dashboard</title>
  @vite(['resources/css/app.css', 'resources/js/dashboard.js'])
</head>
<body class="h-full">
  @include('partials/navigation')
  <main class="container relative top-24 mx-auto text-lg">
    <div>
      <span>Ajouter un nouvel Etudiant : </span> <span class="button"> <a href=" {{ route('student.index') }}">Ajouter</a> </span>
    </div>
    <div class="w-full mx-auto flex flex-col items-center">
      <div class="text-lg w-full mx-auto mt-4">
        <div class="information-display-div bg-rose-400 text-neutral-50">
          <p>Matricule</p>
          <p>Nom</p>
          <p>Prénom</p>
          <p>Contribution</p>
          <p>Actions</p>
        </div>
      @if(!students)
        <p class="text-center font-mono text-xl">Aucun étudiant n'a été enregistré</p>
      @else
        @each(student in students)
        <div class="information-display-div">
          <p>{{ student.matricule }}</p>
          <p>{{ student.lastname }}</p>
          <p>{{ student.firstname }}</p>
          <p>{{ student.contribution }}</p>
          <a class="button rounded-none text-center" href="{{ route('student.show', [student.id]) }}">Details</a>
        </div>
        @end
      @end
      </div>
    </div>
  </main>
</body>
</html>
